services:
  db:
    image: mysql:8.0
    container_name: pfc-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: AteneaProject
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - pfc-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      timeout: 20s
      retries: 10
      start_period: 30s
      interval: 10s

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: pfc-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/envs/dev/.env
    environment:
      FLASK_APP: main
      FLASK_RUN_HOST: 0.0.0.0
      FLASK_RUN_PORT: 5000
      FLASK_ENV: development
      DATABASE_URL: mysql+pymysql://root:root@db:3306/AteneaProject
    depends_on:
      db:
        condition: service_healthy
    networks:
      - pfc-network
    volumes:
    - ./backend/uploads:/app/backend/uploads
    command: >
      sh -c "sleep 15 &&
           python -m flask run --host=0.0.0.0"

  # -------------------
  # Frontend (React)
  # -------------------
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: pfc-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - pfc-network
      
# -------------------
# Red interna
# -------------------
networks:
  pfc-network:
    driver: bridge

volumes:
  mysql_data:

